body {
  background-color: #fbfbfb;
  font-family: monaco, Consolas, "Lucida Console", monospace;
}

* {
  box-sizing: border-box
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 26.4px;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 15.4px;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 15.4px;
}

.enterButton {
  padding-top: 25px;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.enterButton a:hover {
  color: rgb(102, 102, 102);
  text-decoration: none;
}

#video-title {
  margin: auto;
  width: fit-content;
}

#intro-video {
  display: block;
  margin: auto;
}

#steam {
  padding-top: 0;
  margin-top: 0;
}

.page-title {
  padding-top: 3%;
}

#softwareGif {
  float: right;
  margin: 15px;
}

#iterationsPictures {
  width: 98%;
  height: 280px;
  object-fit: cover;
}

#logo1 {
  float: left;
  width: 31%;
  padding-right: 20px;
}

#console2Img {
  width: 100%;
}

#TGSvideo {
  width: 660px;
  height: 415px;
}


.articlespread {
  width: 60%;
  margin: auto;
}

.right-sidebar {
  float: right;
  width: 20%;
  height: auto;
  padding-left: 25px;
  padding-top: 30px;
  padding-right: 10px;
}

.right-sidebar img {
  width: 100%;
  padding-bottom: 30px;
}

.left-sidebar {
  float: left;
  width: 20%;
  padding-left: 10px;
  padding-top: 30px;
  padding-right: 25px;
}

#other-resources {
  padding-left: 10px;
  width: 100%;
  height: 270px;
  border: 2px solid #333;
  text-align: left;
  border-radius: 5px;
  background-color: #f2f2f3;
}

a {
  color: blue;
  text-decoration: none;
  line-height: 1.8;
}

a:visited {
  color: inherit;
}

a:hover {
  color: darkgreen;
  text-decoration: underline;
}

.sideBySide {
  display: flex;
}

.newspaper {
  padding-left: 16px;
}


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}







/* nav bar stolen */

.navBar {
  background-color: #333;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

/* Change the color of links on hover */
.navBar a :hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.greenHome {
  background-color: #04AA6D;
  color: white;
}

#goUpButton {
  position: fixed;
  cursor: pointer;
  background-color: #04AA6D;
  color: white;
  bottom: 20px;
  right: 20%;
  border: none;
  padding: 18px;
  border-radius: 5px;
  font-size: 20px;
}

#goUpButton:hover {
  background-color: rgb(151, 150, 150);
}

footer {
  opacity: 0.6;
  text-align: center;
  font-size: 20px;
  margin-top: 4%;
  margin-bottom: 2%;
}

footer p {
  opacity: 0.6;
  text-align: center;
  font-size: 12px;
}

/* responsive */
@media only screen and (max-width: 450px) {

  .right-sidebar {
    display: none;
  }

  .left-sidebar {
    display: none;
  }

  body {
    width: 100%;
    margin: 0;
  }

  img {
    width: 100%;
  }

  .articlespread {
    width: 100%;
    margin: 0;
    margin-right: 4px;
  }

  .newspaper {
    padding-left: 10px;
    padding-right: 10px;
  }

  h1 {
    padding-left: 3px;
  }

  h2 {
    padding-left: 3px;
  }

  .homepageGIF {
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: none;
    display: block;
    display: block;
  }


  .sideBySide {
    width: fit-content;
    display: block;
  }

  #goUpButton {
    right: 2%;
  }

  footer {
    margin-top: 40px;
  }

  #TGSvideo {
    width: 100%;
    height: 250px;
  }

  #intro-video {
    width: 100%;
    height: 250px;
  }
}